@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f9fafb;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background: #f9fafb;
}

body::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
  border: 1px solid #f9fafb;
}

body::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.react-select__control,
.react-select__control--is-focused,
.react-select__input-container {
  box-shadow: none !important;
  outline: none !important;
  border-color: inherit;
}


*:focus {
  outline: none !important; /* Remove default outline */
  box-shadow: none; /* Remove any box shadow */
}

/* Optional: Customize focus styles for specific elements */
input:focus,
textarea:focus,
select:focus {
  outline: none !important; /* Remove outline */
  box-shadow: none !important; /* Remove box shadow */
  border-color: inherit !important; /* Reset border color */
}



/* Convert 1. 2. into (1) (2) in React Quill editor and displayed content */
.ql-editor ol,
.rich-text-content ol,
.prose ol {
  counter-reset: item;
  list-style: none;
  padding-left: 3.5rem !important;
  margin: 1rem 0;
}

.ql-editor ol > li,
.rich-text-content ol > li,
.prose ol > li {
  counter-increment: item;
  position: relative;
  margin-bottom: 0.5em;
}

.ql-editor ol > li::before,
.rich-text-content ol > li::before,
.prose ol > li::before {
  content: "(" counter(item) ")";
  position: absolute;
  left: -2.2rem;
  font-weight: 600;
  color: #374151;
}

.ql-editor {
  font-family: 'Noto Sans Siddham', sans-serif;
}
