@tailwind base;
@tailwind components;
@tailwind utilities;



/* Convert 1. 2. into (1) (2) in React Quill editor and displayed content */
.ql-editor ol,
.rich-text-content ol,
.prose ol {
  counter-reset: item;
  list-style: none;
  padding-left: 3.5rem !important;
  margin: 1rem 0;
}

.ql-editor ol > li,
.rich-text-content ol > li,
.prose ol > li {
  counter-increment: item;
  position: relative;
  margin-bottom: 0.5em;
}

.ql-editor ol > li::before,
.rich-text-content ol > li::before,
.prose ol > li::before {
  content: "(" counter(item) ")";
  position: absolute;
  left: -2.2rem;
  font-weight: 600;
  color: #374151;
}

.ql-editor {
  font-family: 'Noto Sans Siddham', sans-serif;
}


